# Environments
.env
*.env
.env.*
.env.local
.env.production
.env.staging

# Secrets & Keys
*.pem
*.key
*.p12
*.pfx
*.jks
secrets/
credentials/
.aws/
service-account*.json
*_rsa
*_dsa
*_ecdsa
*_ed25519

# Python
__pycache__/
*.pyc
venv/
.venv/
*.txt
*.log

# Models & Data
backend/fine_tuned_sql_model/
backend/results/

# JS / Frontend
node_modules/
dist/
.DS_Store