google-genai
psycopg2-binary
python-dotenv
pandas
sqlalchemy
langchain
langchain-google-genai
langgraph
transformers
torch
datasets
openpyxl
fastapi
uvicorn
python-multipart
alembic
python-jose[cryptography]
passlib[bcrypt]
